@import "tailwindcss";

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}